__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache
.ipynb_checkpoints
**/.ipynb_checkpoints
*.ipynb
.git
.gitignore
site/
dist/
docs/
_experimental/
tests/
